.titulo{
    color: aqua;
    background-color: rgb(216, 236, 35);

}

.titulo2{
    color:rgb(3, 3, 236)
}

.titulo3{
    color: rgb(105, 71, 28);
}

parágrafo{
    color: rgb(76, 13, 134);
}

img src{
    width: 60%;
}